/* CSS externo (arquivo) */

html {
    scroll-behavior: smooth; /* comportamento-da-rolagem: suave */
}

body {
    margin: 20px 50px;
    text-align: justify;
    background-color: #fbfdff;
}

.titulo-de-pagina {
    color: #526D82;
    line-height: 2;
    font-weight: bold;
    font-size: 22pt;
    font-family: Arial, Helvetica, sans-serif;
}

.titulo-de-artigo {
    color: #526D82;
    line-height: 2;
    font-weight: bold;
    font-size: 18pt;
    font-family: Arial, Helvetica, sans-serif;
}

.titulo-de-secao {
    color:#526D82;
    line-height: 1.8;
    font-weight: bold;
    font-size: 18pt;
    font-family: Arial, Helvetica, sans-serif;
}

.subtitulo-de-artigo {
    color:#9DB2BF;
    line-height: 1.5;
    font-weight: bold;
    font-size: 14pt;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    margin-bottom: 10px;
}

p {
    color:#41505b;
    line-height: 1.2;
}

.paragrafo-de-artigo {
    background-color: #DDE6ED;
    padding: 20px;
}

article {
    border: 8px solid #DDE6ED;
    padding: 30px;
    margin: 30px 0;
    border-radius: 20px 0 20px 0;
}