/* CSS externo (arquivo) */

html {
    scroll-behavior: smooth; /* comportamento-da-rolagem: suave */
}

body {
    color:crimson;
}

h1 {
    color: saddlebrown;
    line-height: 2;
    font-weight: bold;
    font-size: 22pt;
}